$grey : #6b7c8f;
$orange : #f7892f;
$gold : #fac231;
$lightBrown : #dcc8aa;

$fontStyle : 'Michroma', sans-serif;

@mixin flexDirection($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexJustAlign($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin contentGrid() {
    display: grid;
    grid-template-columns: 3% 20% 74% 3%;
    grid-template-rows: auto;
}

@mixin columnStartEnd($start, $end) {
    grid-column-start: $start;
    grid-column-end: $end;
}

@mixin rowStartEnd($start, $end) {
    grid-row-start: $start;
    grid-row-end: $end;
}