@import "property";

.header {
    @include flexDirection(row);
    @include flexJustAlign(center, center);
    background: $orange;
    color: $grey;
    font-family: $fontStyle;
}

.main-content {
    @include contentGrid();
}

.sidebar {
    @include flexDirection(column);
    @include columnStartEnd(2, 3);
    @include rowStartEnd(1, auto);
    @include flexJustAlign(flex-start, center);
}


.weather {
    @include columnStartEnd(3, 4);
}

.info {
    @include flexDirection(row);
    @include flexJustAlign(space-around, center);
    flex-wrap: wrap;
}